---
import GazeEventChecker from '../components/GazeEventChecker.jsx';
import MousePosition from '../components/MousePosition.jsx';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de prueba</title>
  <style>
    /* Centrar el botón */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    button {
      padding: 10px 20px;
      font-size: 16px;
    }
  </style>
</head>
<body>
  <div id="root">
    <GazeEventChecker client:load />
    <MousePosition client:load />
  </div>
</body>
</html>
